[color]
    ui = auto
    branch = auto
    status = auto
    diff = auto

[user]
    name = Cristian Maureira-Fredes
    email = cmaureirafredes@gmail.com

[alias]
    a  = add
    s  = status -s
    st = status -s
    ci = commit
    br = branch
    co = checkout
    df = diff
    pul = pull
    puhs = push
    pus = push
    l  = log --decorate --graph --oneline
    lg = log --decorate --graph --oneline
    today = log --since=midnight --author='Cristian Maureira Fredes <cmaureirafredes@gmail.com>' --oneline
[push]
    default = simple
